{{#foreach navigation}}
  {{#match label "Work with me"}}
    <li><a href="{{url}}" class="nav-cta {{link_class for=url}}">{{label}}</a></li>
  {{else}}
    <li><a href="{{url}}" class="{{link_class for=url}}">{{label}}</a></li>
  {{/match}}
{{/foreach}}
