{{#foreach navigation}}
  {{#match label "Hire me"}}
    <li><a href="{{url}}" class="nav-cta-btn">{{label}}</a></li>
  {{else}}
    <li><a href="{{url}}" class="{{link_class for=url}}">{{label}}</a></li>
  {{/match}}
{{/foreach}}
