<article class="post-card {{#if feature_image}}post-card-has-image{{/if}}">
  {{#if feature_image}}
    <div class="post-card-image-col">
      <a href="{{url}}" class="post-card-image-link">
        <img class="post-card-image" src="{{img_url feature_image size="m"}}" alt="{{title}}" loading="lazy">
      </a>
      <div class="post-card-meta">
        {{> tag-pill}}
        <span class="post-card-date">
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
        </span>
      </div>
    </div>
  {{/if}}
  <div class="post-card-content">
    {{#unless feature_image}}
      <div class="post-card-meta">
        {{> tag-pill}}
        <span class="post-card-date">
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
        </span>
      </div>
    {{/unless}}
    <a href="{{url}}">
      <h3 class="post-card-title">{{title}}</h3>
    </a>
    {{#if custom_excerpt}}
      <p class="post-card-excerpt">{{custom_excerpt}}</p>
    {{else if excerpt}}
      <p class="post-card-excerpt">{{excerpt words="25"}}</p>
    {{/if}}
    <div class="post-card-footer">
      {{#if @custom.show_reading_time}}
        <span class="post-card-readtime">{{reading_time}}</span>
      {{/if}}
      <a href="{{url}}" class="post-card-read-link">Read <span>&rarr;</span></a>
    </div>
  </div>
</article>
