<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{meta_title}}</title>
  <link rel="icon" type="image/svg+xml" href="{{asset "images/flame.svg"}}">
  {{ghost_head}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,WONK@9..144,100..900,0..1&display=swap" rel="stylesheet">
  <script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.documentElement.classList.add('dark');
    }
  </script>
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">
  <script src="https://kit.fontawesome.com/02023a5bb5.js" crossorigin="anonymous"></script>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJBY6FWMKN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DJBY6FWMKN');
  </script>
</head>
<body class="{{body_class}}">
  {{> header}}
  <div class="site-content">
    {{{body}}}
  </div>
  {{> footer}}
  <script src="{{asset "js/main.js"}}"></script>
  {{ghost_foot}}
</body>
</html>
